<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>https://dl.dropboxusercontent.com/scl/fi/e6pdtft2igyaimbocj4hk/locketgold.ipa?rlkey=a58wkj82tuajohxq3lxj97a9z&st=cgxtf1ss</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.locket.Locket</string><key>bundle-version</key><string>1.0</string><key>kind</key><string>software</string><key>title</key><string>Locket Gold</string></dict></dict></array></dict></plist>